/* Imports */
@import "https://requidev.github.io/phoenix-bundle/phoenix-bundle/base.css";


/* Variables */

:root {
  --theme-name: "Reborn";
  --blackout: black;
  --dark: #333;
  --lighter: #666;
  --bright: #ccc;
  --background-blur: 0px;
  --popup-blur: 0px;
  --background-darkness: 0.75
}

  /* Dark Mode */
  .appMount__51fd7 {
    --primary-color: rgba(0,0,0,var(--background-darkness));
  }

  .theme-dark {
    --primary-color: rgba(0,0,0,0.75);
    --secondary-color: rgba(0,0,0,0.6);
    --tertiary-color: rgba(0,0,0,0.4);
    --quaternary-color: rgba(0,0,0,0.7);
  }

  /* Light Mode */
  .theme-light {
    --primary-color: rgba(0,0,0,0.55);
    --secondary-color: rgba(0,0,0,0.4);
    --tertiary-color: rgba(0,0,0,0.2);
    --quaternary-color: rgba(0,0,0,0.5);
  }

/* Table of Contents 
 ============== STATIC ===============
1. Backgrund
  1.a. Main Background
  1.b. Transparency

2. User Settings

3. Chat

4. Popouts and Modals

5. @Media Edits

6. Misc
*/





/* 1. Background */
  /* 1.a. Main Background */
  .appMount__51fd7::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    filter: blur(var(--background-blur));
  }
  
  .app__160d8,
  .app__160d8 {
    background-color: var(--primary-color);
  }
  
    /* 1.b. Transparency */
  .layer__960e4 , 
  .layer__960e4, 
  .layers__960e4,
  .layers__960e4,
  .container__5e434,
  .standardSidebarView__23e6b .contentRegion__23e6b,
  .channels-Ie2l6A, 
  .container-PNkimc,
  .members_c8ffbb,
  .chat_f75fb0, 
  .chat_f75fb0 form, 
  .content_f75fb0,
  .messagesWrapper-3lZDfY,
  .noChannel__01d5c,
  .private-channel-call,
  .video__94748,
  #friends,
  .appMount__51fd7,
  .standardSidebarView__23e6b,
  .standardSidebarView__23e6b .sidebarRegion__23e6b,
  .inner-zqa7da,
  .standardSidebarView__23e6b .sidebarRegion__23e6b .sidebar__23e6b,
  .userSettingsVoice-1_dzjw .media-engine-video,
  .activityFeed-28jde9,
  .search .searchBarIcon-1J6sKG,
  .footer-2yfCgX,
  .container-1UB9sr,
  .title_f75fb0,
  .header-2o-2hj,
  .headerBar-UHpsPw,
  .container-2Thooq,
  .privateChannels_e6b769 .search-bar,
  .wrapper-2NJDcI,
  .wrapper-29NfPK,
  .incomingCall-14zLc,
  .gameLibrary-TTDw4Y,
  .paginator__01014,
  .payment_e9cb00,
  .sidebar-1-SQro,
  .reactors_b7f4b4,
  .applicationStore_f07d62,
  #permissions-modal-wrapper .role-side,
  .itemBackground-1jfD8p,
  .gamePreview-9weYR2 .sideBar-2_lxpG,
  .gamePreview-9weYR2 .body-1SVoBw,
  .news-2KwXHF,
  .root-1BQpZw,
  .root-26DmKJ,
  .container-3gCOGc,
  .appMount__51fd7 .pageWrapper_a3a4ce,
  .wrapper-1Rf91z,
  .wrapper_ef3116,
  .emptyPlayers-dx3qig, 
  .players-1zg2l8,
  .users-i_3-kL,
  #app-mount .container__9293f,
  #app-mount .users-i_3-kL,
  #app-mount .footer-1hTRRZ,
  #app-mount .footer-30ewN8,
  .searchBar-1MOL6S, 
  #app-mount .container_fea832,
  #app-mount .footer_c33701,
  #app-mount .privateChannels_e6b769,
  #app-mount .panels__5e434,
  #app-mount .scroller-2TZvBN,
  #app-mount .scroller__99e7c,
  #app-mount .sidebar__5e434,
  .scrollableContainer-38zsVD,
  .scrollableContainer__74017,
  .appMount__51fd7, body,
  .channeltextArea__74017,
  #app-mount .container__133bf,
  .container_f37cb1,
  .textContainer__4d95d,
  .stageSection-3mAD8V,
  .threadSidebar-1o3BTy {
  background: transparent !important;
  }
  
  .textContainer__4d95d {
    border: none;
  }

  #app-mount .footer_c33701 {
    box-shadow: none;
  }

  #app-mount .bannerImage_f37cb1::after {
    opacity: 0;
  }
  
  #app-mount .activityFeed-1C0EmJ {
    background-color: transparent;
  }
  
  .typeMacOS__421ed.titleBar__421ed,
  .uploadModal_b78547 .footer_b78547 {
    background-color: var(--primary-color) !important;
  }
  
  
  /* 2. User Settings */
  .standardSidebarView__23e6b .sidebarRegion__23e6b .sidebarRegionScroller__23e6b,
  .uploadModal_b78547 .footer_b78547,
  .uploadModal_b78547 .inner_b78547 .channelTextAreaUpload_b78547 .inner-zqa7da {
    background-color: var(--secondary-color) !important;
  }
  
  
  
  /* 3. Chat */
  #app-mount .iconMask_e90879,
  .preview-rua1rr {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }

  .container-3O_wAf,
  .icon-1SdhiF {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }
  
  .searchResultsWrap_a9e706,
  .searchPopout-1vUlP3,
  #app-mount .container_a2f514,
  .guilds__5e434:not(.foldercontent) .scroller_ef3116>.tutorialContainer__1f388 .listItem__650eb {
    background: linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }

  .container-1YxwTf .inner__74017 {
    background-color: var(--tertiary-color);
    border-radius: 5px;
  }

  .content-3dzVd8 .innerNoAutocomplete-1WpcVO {
    background-color: var(--tertiary-color) !important;
  }

  /* 4. Popouts & Modals */
  .colorPickerCustom-1swUKF {
    border-color: var(--quaternary-color) !important;
  }
  
  #app-mount .popout-3G62UL {
    background-color: transparent !important;
    background-attachment: fixed !important;
    background-image: var(--background-image) !important;
    background-position: center !important;
    background-size: cover !important;
  }
  
  .botTagInvert__82f07 {
    background-color: var(--main-color);
    color: white;
  }
  
  #app-mount .searchResultsContainer-1ma_dc,
  #app-mount .menu-Sp6bN1,
  #app-mount .themedPopout-25DgLi,
  #app-mount .container__55c99,
  #app-mount .addGamePopout_cc46f0,
  #app-mount .colorPickerCustom-2CWBn,
  #app-mount .perksModal-fSYqOq,
  .css-3vaxre-menu,
  .header_c6bf1b {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat fixed !important;
  }

  #app-mount .messagesPopoutWrap_e8b59c,
  #app-mount .recentMentionsPopout__95796 {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat !important;
  }

  .viewAsRolesWarning_e131a9,
  .container-3LUQwT {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat fixed;
  }

  #app-mount .css-n57xjs-menu {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat;
    background-attachment: fixed !important;
  }

  #app-mount .tierMarkerBackground-G8FoN4 {
    background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/600px 618px no-repeat !important;
    background-attachment: fixed;
  }

  .emojiPicker-3m1S-j, 
  .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ, 
  .diversitySelector-tmmMv0 .popout-2nUePc,
  #app-mount .uploadModal_b78547,
  #app-mount .modalRoot-2fww1y,
  .styleFixed-2_NfVL,
  .styleFlexible-x0_sIC,
  .submenu-1apzyU,
  .previewContainer__74a6a,
  .container-2O1UgZ,
  #app-mount .streamPreview__6da2d,
  .profileBannerPreview-3_l0Wd {
  background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/cover no-repeat !important;
  }

  .avatarUploaderInner-Oiob_P {
    border-color: var(--main-color);
  }
  
  .profileBannerPreview-3_l0Wd .headerTop-3GPUSF {
    background: transparent;
  }

  .headerTop-3GPUSF {
    background: var(--primary-color);
  }

  .container-2O1UgZ .inner__999f6 {
    background-color: var(--quaternary-color) !important;
    border-color: var(--quaternary-color) !important;
  }

  .emojiPicker-3m1S-j .categories-1feg4n,
  .infoBar-U6oBFk {
    background: var(--tertiary-color);
  }
  
  .userPopout-2j1gM4,
  .create-guild-container.deprecated,
  .inner-1JeGVc .root-SR8cQa,
  .container__13b2a,
  .container__9b0f4,
  .userList__24091,
  #permissions-modal-wrapper #permissions-modal,
  .create-guild-container-new.deprecated .form.deprecated,
  .toast,
  .inner-2VEzy9 .root-SR8cQa,
  #app-mount .modal-2LBig1 .focusLock-2tveLW .root-8LYsGj {
    background-image: var(--popup-background) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  
  #app-mount .quickswitcher_ac6cb0,
  #app-mount .modal-3HD5ck,
  #app-mount .keyboardShortcutsModal_f061f6,
  #app-mount .incomingCallInner-2VmFiR,
  #app-mount .regionSelectModal-12e-57,
  .backdrop__1a911[style*="background-color: rgb(255, 255, 255)"],
  #app-mount .gamePreview-9weYR2,
  #app-mount .popout-2xBvMR,
  #app-mount .sb-menu-scroller-wrapper,
  .metalloriff-changelog-scroller,
  .container-1YVRxo,
  .bd-modal-inner,
  #app-mount .contextMenu-HLZMGh,
  #app-mount .monsterModal,
  #app-mount .popout-3sVMXz .container-jGk-CT,
  #app-mount .modal-3v8ziU,
  #app-mount .modal_ab9bdf,
  .contentWrapper-2txmjs,
  .emojiPicker_c0e32c,
  .focusLock-2tveLW .root__49fc1 {
  background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/cover no-repeat !important;
  }

  #app-mount .content-3nJg0c:before {
    background-color: var(--quaternary-color);
  }
  
  .container__9b0f4 {
    border-radius: 5px;
  }
  
  #app-mount .popout-3G62UL::before {
    border-radius: 4px;
  }
  
  .userPopout-2j1gM4 .header-2BwW8b,
  [class*="topSection"],
  .tiles-2aXG_k,
  .container__13b2a header,
  .container__13b2a section,
  #permissions-modal-wrapper .header,
  #permissions-modal-wrapper .modal-body {
    background-color: var(--primary-color) !important;
  }
  
  .create-guild-container.deprecated .form.deprecated .form-inner {
    background-color: var(--quaternary-color) !important;
  }
  
  .searchPopout-1vUlP3::before,
  .add-game-popout::before,
  .toast::before,
  #app-mount .popout-3G62UL::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    pointer-events: none;
  }
  
  .container_a2f514::before,
  .toast::before,
  #app-mount .popout-3G62UL::before {
    z-index: -1 !important;
  }
  
  .notches_e5cdf3 {
    position: relative;
    background-attachment: fixed;
    background-image: var(--background-image) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
    -webkit-mask-repeat: repeat-x;
    width: 100%;
  }
  
  .notches_e5cdf3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
    -webkit-mask-repeat: repeat-x;
    background-color: var(--primary-color);
  }
  
  .content-1_NQ-_,
  .errorState-3QMR6P,
  .phoneVerificationModal_db41ea .title__7184c,
  .phoneVerificationModal_db41ea .description__7184c,
  .container-_CzRhL img[src*="/assets/261873897d8899d4e2e724efdfa21ee3.svg"],
  .container-_CzRhL .title-Ic5R7V,
  .container-_CzRhL .description-2waT7u,
  .tipsWithoutResults-lGY-De, 
  .tipsWithResults-HhTE9b,
  .modalTitle_f061f6,
  .modalSubtitle_f061f6,
  .queryText__55c99,
  .empty-3sCt5f,
  .popoutSocialInfo-1qhqSY,
  .recommendationReason__6efad,
  .themeDark-3Ap_7i,
  .sb-menu-label,
  .sb-menu-scroller,
  .metalloriff-update-label,
  .metalloriff-changelog-label,
  .emptyState_ac6cb0,
  .container_a2f514 * {
    z-index: 1;
  }
  
  .emptyNote-3nZbCz, 
  .emptyTitle-3Jm6Ve {
    color: white !important;
    z-index: 2;
    opacity: 1;
   }
  
  .popout-3sVMXz .themedPopout-25DgLi .header-SsaQ8X {
    background-color: var(--tertiary-color) !important;
  }
  
  .need-help-modal .header h1::after {
    left: -220px;
  }

  .layer__59d0d[style*="; bottom: 5"][id*="popout_"] .menu_c1e9c4 .item-1OdjEX:nth-child(7),
  #status-picker .layer__59d0d .submenuPaddingContainer-_k62dJ,
  #status-picker #status-picker-switch-account {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat fixed !important;
  }
  
  /* 5. @Media Edits */
  @media only screen and (max-width: 915px) {
  
    .members_c8ffbb:hover {
      background-color: var(--primary-color) !important;
    }
  }

/* 6. Misc */
#ghostping-panel {
  background-image: linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) !important;
  background-size: cover, cover;
  background-position: center, center;
  background-attachment: initial, fixed;
}

.lookGhost-2Fn_0-::before {
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), var(--background-image) center/cover no-repeat fixed;
}

.lookGhost-2Fn_0-.colorBrand__201d5::before {
  opacity: .9;
}

/* custom background fix */

.userPopout-2j1gM4 .wrapper__44b0c * {
  z-index: 1;
}

.userPopout-2j1gM4 .wrapper__44b0c::after {
  z-index: unset;
}
