/* Imports */
@import "https://requidev.github.io/phoenix-bundle/phoenix-bundle/base.css";


/* Variables */

:root {
  --theme-name: "Reborn";
  --blackout: black;
  --dark: #333;
  --lighter: #666;
  --bright: #ccc;
  --background-blur: 0px;
  --popup-blur: 0px;
  --background-darkness: 0.75
}

  /* Dark Mode */
  ._51fd70792ee2e563-appMount {
    --primary-color: rgba(0,0,0,var(--background-darkness));
  }

  .theme-dark {
    --primary-color: rgba(0,0,0,0.75);
    --secondary-color: rgba(0,0,0,0.6);
    --tertiary-color: rgba(0,0,0,0.4);
    --quaternary-color: rgba(0,0,0,0.7);
  }

  /* Light Mode */
  .theme-light {
    --primary-color: rgba(0,0,0,0.55);
    --secondary-color: rgba(0,0,0,0.4);
    --tertiary-color: rgba(0,0,0,0.2);
    --quaternary-color: rgba(0,0,0,0.5);
  }

/* Table of Contents 
 ============== STATIC ===============
1. Backgrund
  1.a. Main Background
  1.b. Transparency

2. User Settings

3. Chat

4. Popouts and Modals

5. @Media Edits

6. Misc
*/





/* 1. Background */
  /* 1.a. Main Background */
  ._51fd70792ee2e563-appMount::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    filter: blur(var(--background-blur));
  }
  
  ._160d8e55254637e5-app,
  ._160d8e55254637e5-app {
    background-color: var(--primary-color);
  }
  
    /* 1.b. Transparency */
  ._960e4207cea8323e-layer , 
  ._960e4207cea8323e-layer, 
  ._960e4207cea8323e-layers,
  ._960e4207cea8323e-layers,
  ._5e434347c823b592-container,
  ._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-contentRegion,
  .channels-Ie2l6A, 
  .container-PNkimc,
  .c8ffbb79449f399c-members,
  .f75fb00fb7356cbe-chat, 
  .f75fb00fb7356cbe-chat form, 
  .f75fb00fb7356cbe-content,
  .messagesWrapper-3lZDfY,
  ._01d5c7193c9f2ff4-noChannel,
  .private-channel-call,
  ._94748c73ac5ff785-video,
  #friends,
  ._51fd70792ee2e563-appMount,
  ._23e6b439306f125a-standardSidebarView,
  ._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebarRegion,
  .inner-zqa7da,
  ._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebarRegion ._23e6b439306f125a-sidebar,
  .userSettingsVoice-1_dzjw .media-engine-video,
  .activityFeed-28jde9,
  .search .searchBarIcon-1J6sKG,
  .footer-2yfCgX,
  .container-1UB9sr,
  .f75fb00fb7356cbe-title,
  .header-2o-2hj,
  .headerBar-UHpsPw,
  .container-2Thooq,
  .e6b7699ce8339e1c-privateChannels .search-bar,
  .wrapper-2NJDcI,
  .wrapper-29NfPK,
  .incomingCall-14zLc,
  .gameLibrary-TTDw4Y,
  .paginator__01014,
  .e9cb00d6250845ad-payment,
  .sidebar-1-SQro,
  .b7f4b43fe1b6e285-reactors,
  .f07d62e29a48ceee-applicationStore,
  #permissions-modal-wrapper .role-side,
  .itemBackground-1jfD8p,
  .gamePreview-9weYR2 .sideBar-2_lxpG,
  .gamePreview-9weYR2 .body-1SVoBw,
  .news-2KwXHF,
  .root-1BQpZw,
  .root-26DmKJ,
  .container-3gCOGc,
  ._51fd70792ee2e563-appMount .pageWrapper_a3a4ce,
  .wrapper-1Rf91z,
  .ef3116c2da186559-wrapper,
  .emptyPlayers-dx3qig, 
  .players-1zg2l8,
  .users-i_3-kL,
  #app-mount ._9293f6b2fc12398a-container,
  #app-mount .users-i_3-kL,
  #app-mount .footer-1hTRRZ,
  #app-mount .footer-30ewN8,
  .searchBar-1MOL6S, 
  #app-mount .container_fea832,
  #app-mount .footer_c33701,
  #app-mount .e6b7699ce8339e1c-privateChannels,
  #app-mount ._5e434347c823b592-panels,
  #app-mount .scroller-2TZvBN,
  #app-mount ._99e7cad8d4c55236-scroller,
  #app-mount ._5e434347c823b592-sidebar,
  .scrollableContainer-38zsVD,
  ._740174f3d6a2c8fe-scrollableContainer,
  ._51fd70792ee2e563-appMount, body,
  .channel_740174f3d6a2c8fe-textArea,
  #app-mount ._133bf5eea8e33a34-container,
  .f37cb1984c371ee5-container,
  ._4d95d73152192cf9-textContainer,
  .stageSection-3mAD8V,
  .threadSidebar-1o3BTy {
  background: transparent !important;
  }
  
  ._4d95d73152192cf9-textContainer {
    border: none;
  }

  #app-mount .footer_c33701 {
    box-shadow: none;
  }

  #app-mount .f37cb1984c371ee5-bannerImage::after {
    opacity: 0;
  }
  
  #app-mount .activityFeed-1C0EmJ {
    background-color: transparent;
  }
  
  ._421edea01cb52e16-typeMacOS._421edea01cb52e16-titleBar,
  .uploadModal_b78547 .footer_b78547 {
    background-color: var(--primary-color) !important;
  }
  
  
  /* 2. User Settings */
  ._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebarRegion ._23e6b439306f125a-sidebarRegionScroller,
  .uploadModal_b78547 .footer_b78547,
  .uploadModal_b78547 .b7854763c4a57c63-inner .channelTextAreaUpload_b78547 .inner-zqa7da {
    background-color: var(--secondary-color) !important;
  }
  
  
  
  /* 3. Chat */
  #app-mount .iconMask_e90879,
  .preview-rua1rr {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }

  .container-3O_wAf,
  .icon-1SdhiF {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }
  
  .a9e7064fdee8e9b0-searchResultsWrap,
  .searchPopout-1vUlP3,
  #app-mount .a2f5142ba8328dfd-container,
  ._5e434347c823b592-guilds:not(.foldercontent) .ef3116c2da186559-scroller>._1f388bcaa446c0c8-tutorialContainer ._650eb104245d257b-listItem {
    background: linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }

  .container-1YxwTf ._740174f3d6a2c8fe-inner {
    background-color: var(--tertiary-color);
    border-radius: 5px;
  }

  .content-3dzVd8 .innerNoAutocomplete-1WpcVO {
    background-color: var(--tertiary-color) !important;
  }

  /* 4. Popouts & Modals */
  .colorPickerCustom-1swUKF {
    border-color: var(--quaternary-color) !important;
  }
  
  #app-mount .popout-3G62UL {
    background-color: transparent !important;
    background-attachment: fixed !important;
    background-image: var(--background-image) !important;
    background-position: center !important;
    background-size: cover !important;
  }
  
  ._82f0793afa59e5dc-botTagInvert {
    background-color: var(--main-color);
    color: white;
  }
  
  #app-mount .searchResultsContainer-1ma_dc,
  #app-mount .menu-Sp6bN1,
  #app-mount .themedPopout-25DgLi,
  #app-mount ._55c999adcf6db265-container,
  #app-mount .cc46f0f859f26200-addGamePopout,
  #app-mount .colorPickerCustom-2CWBn,
  #app-mount .perksModal-fSYqOq,
  .css-3vaxre-menu,
  .c6bf1b7af480dfda-header {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat fixed !important;
  }

  #app-mount .e8b59c4b335dd2fc-messagesPopoutWrap,
  #app-mount ._957962c2bd49881b-recentMentionsPopout {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat !important;
  }

  .e131a99484292a19-viewAsRolesWarning,
  .container-3LUQwT {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat fixed;
  }

  #app-mount .css-n57xjs-menu {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat;
    background-attachment: fixed !important;
  }

  #app-mount .tierMarkerBackground-G8FoN4 {
    background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/600px 618px no-repeat !important;
    background-attachment: fixed;
  }

  .emojiPicker-3m1S-j, 
  .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ, 
  .diversitySelector-tmmMv0 .popout-2nUePc,
  #app-mount .uploadModal_b78547,
  #app-mount .modalRoot-2fww1y,
  .styleFixed-2_NfVL,
  .styleFlexible-x0_sIC,
  .submenu-1apzyU,
  ._74a6a7a80cfedda2-previewContainer,
  .container-2O1UgZ,
  #app-mount ._6da2d8abf659f945-streamPreview,
  .profileBannerPreview-3_l0Wd {
  background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/cover no-repeat !important;
  }

  .avatarUploaderInner-Oiob_P {
    border-color: var(--main-color);
  }
  
  .profileBannerPreview-3_l0Wd .headerTop-3GPUSF {
    background: transparent;
  }

  .headerTop-3GPUSF {
    background: var(--primary-color);
  }

  .container-2O1UgZ .inner__999f6 {
    background-color: var(--quaternary-color) !important;
    border-color: var(--quaternary-color) !important;
  }

  .emojiPicker-3m1S-j .categories-1feg4n,
  .infoBar-U6oBFk {
    background: var(--tertiary-color);
  }
  
  .userPopout-2j1gM4,
  .create-guild-container.deprecated,
  .inner-1JeGVc .root-SR8cQa,
  .container__13b2a,
  .container__9b0f4,
  ._240918c227662bcd-userList,
  #permissions-modal-wrapper #permissions-modal,
  .create-guild-container-new.deprecated .form.deprecated,
  .toast,
  .inner-2VEzy9 .root-SR8cQa,
  #app-mount .modal-2LBig1 .focusLock-2tveLW .root-8LYsGj {
    background-image: var(--popup-background) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  
  #app-mount .ac6cb02cd15b4b3b-quickswitcher,
  #app-mount .modal-3HD5ck,
  #app-mount .f061f614def5a8d6-keyboardShortcutsModal,
  #app-mount .incomingCallInner-2VmFiR,
  #app-mount .regionSelectModal-12e-57,
  .backdrop__1a911[style*="background-color: rgb(255, 255, 255)"],
  #app-mount .gamePreview-9weYR2,
  #app-mount .popout-2xBvMR,
  #app-mount .sb-menu-scroller-wrapper,
  .metalloriff-changelog-scroller,
  .container-1YVRxo,
  .bd-modal-inner,
  #app-mount .contextMenu-HLZMGh,
  #app-mount .monsterModal,
  #app-mount .popout-3sVMXz .container-jGk-CT,
  #app-mount .modal-3v8ziU,
  #app-mount .ab9bdf90e7c35b35-modal,
  .contentWrapper-2txmjs,
  .c0e32c5cffed3d9f-emojiPicker,
  .focusLock-2tveLW ._49fc18ba07c5025f-root {
  background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/cover no-repeat !important;
  }

  #app-mount .content-3nJg0c:before {
    background-color: var(--quaternary-color);
  }
  
  .container__9b0f4 {
    border-radius: 5px;
  }
  
  #app-mount .popout-3G62UL::before {
    border-radius: 4px;
  }
  
  .userPopout-2j1gM4 .header-2BwW8b,
  [class*="topSection"],
  .tiles-2aXG_k,
  .container__13b2a header,
  .container__13b2a section,
  #permissions-modal-wrapper .header,
  #permissions-modal-wrapper .modal-body {
    background-color: var(--primary-color) !important;
  }
  
  .create-guild-container.deprecated .form.deprecated .form-inner {
    background-color: var(--quaternary-color) !important;
  }
  
  .searchPopout-1vUlP3::before,
  .add-game-popout::before,
  .toast::before,
  #app-mount .popout-3G62UL::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    pointer-events: none;
  }
  
  .a2f5142ba8328dfd-container::before,
  .toast::before,
  #app-mount .popout-3G62UL::before {
    z-index: -1 !important;
  }
  
  .notches_e5cdf3 {
    position: relative;
    background-attachment: fixed;
    background-image: var(--background-image) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
    -webkit-mask-repeat: repeat-x;
    width: 100%;
  }
  
  .notches_e5cdf3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
    -webkit-mask-repeat: repeat-x;
    background-color: var(--primary-color);
  }
  
  .content-1_NQ-_,
  .errorState-3QMR6P,
  .phoneVerificationModal_db41ea ._7184cb7fb4855291-title,
  .phoneVerificationModal_db41ea ._7184cb7fb4855291-description,
  .container-_CzRhL img[src*="/assets/261873897d8899d4e2e724efdfa21ee3.svg"],
  .container-_CzRhL .title-Ic5R7V,
  .container-_CzRhL .description-2waT7u,
  .tipsWithoutResults-lGY-De, 
  .tipsWithResults-HhTE9b,
  .f061f614def5a8d6-modalTitle,
  .f061f614def5a8d6-modalSubtitle,
  ._55c999adcf6db265-queryText,
  .empty-3sCt5f,
  .popoutSocialInfo-1qhqSY,
  ._6efadbb8cc6768e7-recommendationReason,
  .themeDark-3Ap_7i,
  .sb-menu-label,
  .sb-menu-scroller,
  .metalloriff-update-label,
  .metalloriff-changelog-label,
  .ac6cb02cd15b4b3b-emptyState,
  .a2f5142ba8328dfd-container * {
    z-index: 1;
  }
  
  .emptyNote-3nZbCz, 
  .emptyTitle-3Jm6Ve {
    color: white !important;
    z-index: 2;
    opacity: 1;
   }
  
  .popout-3sVMXz .themedPopout-25DgLi .header-SsaQ8X {
    background-color: var(--tertiary-color) !important;
  }
  
  .need-help-modal .header h1::after {
    left: -220px;
  }

  ._59d0d7075b521375-layer[style*="; bottom: 5"][id*="popout_"] .c1e9c47c23f12ca3-menu .item-1OdjEX:nth-child(7),
  #status-picker ._59d0d7075b521375-layer .submenuPaddingContainer-_k62dJ,
  #status-picker #status-picker-switch-account {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat fixed !important;
  }
  
  /* 5. @Media Edits */
  @media only screen and (max-width: 915px) {
  
    .c8ffbb79449f399c-members:hover {
      background-color: var(--primary-color) !important;
    }
  }

/* 6. Misc */
#ghostping-panel {
  background-image: linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) !important;
  background-size: cover, cover;
  background-position: center, center;
  background-attachment: initial, fixed;
}

.lookGhost-2Fn_0-::before {
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), var(--background-image) center/cover no-repeat fixed;
}

.lookGhost-2Fn_0-._201d5e8a3c09670a-colorBrand::before {
  opacity: .9;
}

/* custom background fix */

.userPopout-2j1gM4 ._44b0c28be7879b7b-wrapper * {
  z-index: 1;
}

.userPopout-2j1gM4 ._44b0c28be7879b7b-wrapper::after {
  z-index: unset;
}
