/* Imports */
@import "https://requidev.github.io/phoenix-bundle/phoenix-bundle/base.css";


/* Variables */

:root {
  --theme-name: "Reborn";
  --blackout: black;
  --dark: #333;
  --lighter: #666;
  --bright: #ccc;
  --background-blur: 0px;
  --popup-blur: 0px;
  --background-darkness: 0.75
}

  /* Dark Mode */
  .appMount_ea7e65 {
    --primary-color: rgba(0,0,0,var(--background-darkness));
  }

  .theme-dark {
    --primary-color: rgba(0,0,0,0.75);
    --secondary-color: rgba(0,0,0,0.6);
    --tertiary-color: rgba(0,0,0,0.4);
    --quaternary-color: rgba(0,0,0,0.7);
  }

  /* Light Mode */
  .theme-light {
    --primary-color: rgba(0,0,0,0.55);
    --secondary-color: rgba(0,0,0,0.4);
    --tertiary-color: rgba(0,0,0,0.2);
    --quaternary-color: rgba(0,0,0,0.5);
  }

/* Table of Contents 
 ============== STATIC ===============
1. Backgrund
  1.a. Main Background
  1.b. Transparency

2. User Settings

3. Chat

4. Popouts and Modals

5. @Media Edits

6. Misc
*/





/* 1. Background */
  /* 1.a. Main Background */
  .appMount_ea7e65::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    filter: blur(var(--background-blur));
  }
  
  .app_a01fb1,
  .app_a01fb1 {
    background-color: var(--primary-color);
  }
  
    /* 1.b. Transparency */
  .layer_d4b6c5 , 
  .layer_d4b6c5, 
  .layers_d4b6c5,
  .layers_d4b6c5,
  .container_a4d4d9,
  .standardSidebarView_c25c6d .contentRegion_c25c6d,
  .channels-Ie2l6A, 
  .container-PNkimc,
  .members_cbd271,
  .chat_a7d72e, 
  .chat_a7d72e form, 
  .content_a7d72e,
  .messagesWrapper-3lZDfY,
  .noChannel_e1ef5f,
  .private-channel-call,
  .video_c84990,
  #friends,
  .appMount_ea7e65,
  .standardSidebarView_c25c6d,
  .standardSidebarView_c25c6d .sidebarRegion_c25c6d,
  .inner-zqa7da,
  .standardSidebarView_c25c6d .sidebarRegion_c25c6d .sidebar_c25c6d,
  .userSettingsVoice-1_dzjw .media-engine-video,
  .activityFeed-28jde9,
  .search .searchBarIcon-1J6sKG,
  .footer-2yfCgX,
  .container-1UB9sr,
  .title_a7d72e,
  .header-2o-2hj,
  .headerBar-UHpsPw,
  .container-2Thooq,
  .privateChannels_f0963d .search-bar,
  .wrapper-2NJDcI,
  .wrapper-29NfPK,
  .incomingCall-14zLc,
  .gameLibrary-TTDw4Y,
  .paginator_f66684,
  .payment_a28a08,
  .sidebar-1-SQro,
  .reactors_f2bfbb,
  .applicationStore_cecc86,
  #permissions-modal-wrapper .role-side,
  .itemBackground-1jfD8p,
  .gamePreview-9weYR2 .sideBar-2_lxpG,
  .gamePreview-9weYR2 .body-1SVoBw,
  .news-2KwXHF,
  .root-1BQpZw,
  .root-26DmKJ,
  .container-3gCOGc,
  .appMount_ea7e65 .pageWrapper_a3a4ce,
  .wrapper-1Rf91z,
  .wrapper_fea3ef,
  .emptyPlayers-dx3qig, 
  .players-1zg2l8,
  .users-i_3-kL,
  #app-mount .container_fc4f04,
  #app-mount .users-i_3-kL,
  #app-mount .footer-1hTRRZ,
  #app-mount .footer-30ewN8,
  .searchBar-1MOL6S, 
  #app-mount .container_effbe2,
  #app-mount .footer_c33701,
  #app-mount .privateChannels_f0963d,
  #app-mount .panels_a4d4d9,
  #app-mount .scroller-2TZvBN,
  #app-mount .scroller_c47fa9,
  #app-mount .sidebar_a4d4d9,
  .scrollableContainer-38zsVD,
  .scrollableContainer_d0696b,
  .appMount_ea7e65, body,
  .channelTextArea_d0696b,
  #app-mount .container_c2739c,
  .container_fd6364,
  .textContainer_d8e2d0,
  .stageSection-3mAD8V,
  .threadSidebar-1o3BTy {
  background: transparent !important;
  }
  
  .textContainer_d8e2d0 {
    border: none;
  }

  #app-mount .footer_c33701 {
    box-shadow: none;
  }

  #app-mount .bannerImage_fd6364::after {
    opacity: 0;
  }
  
  #app-mount .activityFeed-1C0EmJ {
    background-color: transparent;
  }
  
  .typeMacOS_a934d8.titleBar_a934d8,
  .uploadModal_f82cc7 .footer_f82cc7 {
    background-color: var(--primary-color) !important;
  }
  
  
  /* 2. User Settings */
  .standardSidebarView_c25c6d .sidebarRegion_c25c6d .sidebarRegionScroller_c25c6d,
  .uploadModal_f82cc7 .footer_f82cc7,
  .uploadModal_f82cc7 .inner_f82cc7 .channelTextAreaUpload_f82cc7 .inner-zqa7da {
    background-color: var(--secondary-color) !important;
  }
  
  
  
  /* 3. Chat */
  #app-mount .iconMask_e90879,
  .preview-rua1rr {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }

  .container-3O_wAf,
  .icon-1SdhiF {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }
  
  .searchResultsWrap_c2b47d,
  .searchPopout-1vUlP3,
  #app-mount .container_e40c16,
  .guilds_a4d4d9:not(.foldercontent) .scroller_fea3ef>.tutorialContainer_f9623d .listItem_c96c45 {
    background: linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }

  .container-1YxwTf .inner_d0696b {
    background-color: var(--tertiary-color);
    border-radius: 5px;
  }

  .content-3dzVd8 .innerNoAutocomplete-1WpcVO {
    background-color: var(--tertiary-color) !important;
  }

  /* 4. Popouts & Modals */
  .colorPickerCustom-1swUKF {
    border-color: var(--quaternary-color) !important;
  }
  
  #app-mount .popout-3G62UL {
    background-color: transparent !important;
    background-attachment: fixed !important;
    background-image: var(--background-image) !important;
    background-position: center !important;
    background-size: cover !important;
  }
  
  .botTagInvert_a9e77f {
    background-color: var(--main-color);
    color: white;
  }
  
  #app-mount .searchResultsContainer-1ma_dc,
  #app-mount .menu-Sp6bN1,
  #app-mount .themedPopout-25DgLi,
  #app-mount .container_eedf95,
  #app-mount .addGamePopout_fd966d,
  #app-mount .colorPickerCustom-2CWBn,
  #app-mount .perksModal-fSYqOq,
  .css-3vaxre-menu,
  .header_bd05f1 {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat fixed !important;
  }

  #app-mount .messagesPopoutWrap_ac90a2,
  #app-mount .recentMentionsPopout_ddb5b4 {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat !important;
  }

  .viewAsRolesWarning_adcaac,
  .container-3LUQwT {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat fixed;
  }

  #app-mount .css-n57xjs-menu {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat;
    background-attachment: fixed !important;
  }

  #app-mount .tierMarkerBackground-G8FoN4 {
    background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/600px 618px no-repeat !important;
    background-attachment: fixed;
  }

  .emojiPicker-3m1S-j, 
  .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ, 
  .diversitySelector-tmmMv0 .popout-2nUePc,
  #app-mount .uploadModal_f82cc7,
  #app-mount .modalRoot-2fww1y,
  .styleFixed-2_NfVL,
  .styleFlexible-x0_sIC,
  .submenu-1apzyU,
  .previewContainer_dcd39d,
  .container-2O1UgZ,
  #app-mount .streamPreview_adbea6,
  .profileBannerPreview-3_l0Wd {
  background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/cover no-repeat !important;
  }

  .avatarUploaderInner-Oiob_P {
    border-color: var(--main-color);
  }
  
  .profileBannerPreview-3_l0Wd .headerTop-3GPUSF {
    background: transparent;
  }

  .headerTop-3GPUSF {
    background: var(--primary-color);
  }

  .container-2O1UgZ .inner__999f6 {
    background-color: var(--quaternary-color) !important;
    border-color: var(--quaternary-color) !important;
  }

  .emojiPicker-3m1S-j .categories-1feg4n,
  .infoBar-U6oBFk {
    background: var(--tertiary-color);
  }
  
  .userPopout-2j1gM4,
  .create-guild-container.deprecated,
  .inner-1JeGVc .root-SR8cQa,
  .container__13b2a,
  .container_ed5743,
  .userList_bdebc8,
  #permissions-modal-wrapper #permissions-modal,
  .create-guild-container-new.deprecated .form.deprecated,
  .toast,
  .inner-2VEzy9 .root-SR8cQa,
  #app-mount .modal-2LBig1 .focusLock-2tveLW .root-8LYsGj {
    background-image: var(--popup-background) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  
  #app-mount .quickswitcher_f4e139,
  #app-mount .modal-3HD5ck,
  #app-mount .keyboardShortcutsModal_ad95dc,
  #app-mount .incomingCallInner-2VmFiR,
  #app-mount .regionSelectModal-12e-57,
  .backdrop__1a911[style*="background-color: rgb(255, 255, 255)"],
  #app-mount .gamePreview-9weYR2,
  #app-mount .popout-2xBvMR,
  #app-mount .sb-menu-scroller-wrapper,
  .metalloriff-changelog-scroller,
  .container-1YVRxo,
  .bd-modal-inner,
  #app-mount .contextMenu-HLZMGh,
  #app-mount .monsterModal,
  #app-mount .popout-3sVMXz .container-jGk-CT,
  #app-mount .modal-3v8ziU,
  #app-mount .modal_c97cbd,
  .contentWrapper-2txmjs,
  .emojiPicker_c6ee36,
  .focusLock-2tveLW .root_f9a4c9 {
  background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/cover no-repeat !important;
  }

  #app-mount .content-3nJg0c:before {
    background-color: var(--quaternary-color);
  }
  
  .container_ed5743 {
    border-radius: 5px;
  }
  
  #app-mount .popout-3G62UL::before {
    border-radius: 4px;
  }
  
  .userPopout-2j1gM4 .header-2BwW8b,
  [class*="topSection"],
  .tiles-2aXG_k,
  .container__13b2a header,
  .container__13b2a section,
  #permissions-modal-wrapper .header,
  #permissions-modal-wrapper .modal-body {
    background-color: var(--primary-color) !important;
  }
  
  .create-guild-container.deprecated .form.deprecated .form-inner {
    background-color: var(--quaternary-color) !important;
  }
  
  .searchPopout-1vUlP3::before,
  .add-game-popout::before,
  .toast::before,
  #app-mount .popout-3G62UL::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    pointer-events: none;
  }
  
  .container_e40c16::before,
  .toast::before,
  #app-mount .popout-3G62UL::before {
    z-index: -1 !important;
  }
  
  .notches_e5cdf3 {
    position: relative;
    background-attachment: fixed;
    background-image: var(--background-image) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
    -webkit-mask-repeat: repeat-x;
    width: 100%;
  }
  
  .notches_e5cdf3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
    -webkit-mask-repeat: repeat-x;
    background-color: var(--primary-color);
  }
  
  .content-1_NQ-_,
  .errorState-3QMR6P,
  .phoneVerificationModal_fb9bea .title_def860,
  .phoneVerificationModal_fb9bea .description_def860,
  .container-_CzRhL img[src*="/assets/261873897d8899d4e2e724efdfa21ee3.svg"],
  .container-_CzRhL .title-Ic5R7V,
  .container-_CzRhL .description-2waT7u,
  .tipsWithoutResults-lGY-De, 
  .tipsWithResults-HhTE9b,
  .modalTitle_ad95dc,
  .modalSubtitle_ad95dc,
  .queryText_eedf95,
  .empty-3sCt5f,
  .popoutSocialInfo-1qhqSY,
  .recommendationReason_e960ab,
  .themeDark-3Ap_7i,
  .sb-menu-label,
  .sb-menu-scroller,
  .metalloriff-update-label,
  .metalloriff-changelog-label,
  .emptyState_f4e139,
  .container_e40c16 * {
    z-index: 1;
  }
  
  .emptyNote-3nZbCz, 
  .emptyTitle-3Jm6Ve {
    color: white !important;
    z-index: 2;
    opacity: 1;
   }
  
  .popout-3sVMXz .themedPopout-25DgLi .header-SsaQ8X {
    background-color: var(--tertiary-color) !important;
  }
  
  .need-help-modal .header h1::after {
    left: -220px;
  }

  .layer_cd0de5[style*="; bottom: 5"][id*="popout_"] .menu_d90b3d .item-1OdjEX:nth-child(7),
  #status-picker .layer_cd0de5 .submenuPaddingContainer-_k62dJ,
  #status-picker #status-picker-switch-account {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat fixed !important;
  }
  
  /* 5. @Media Edits */
  @media only screen and (max-width: 915px) {
  
    .members_cbd271:hover {
      background-color: var(--primary-color) !important;
    }
  }

/* 6. Misc */
#ghostping-panel {
  background-image: linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) !important;
  background-size: cover, cover;
  background-position: center, center;
  background-attachment: initial, fixed;
}

.lookGhost-2Fn_0-::before {
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), var(--background-image) center/cover no-repeat fixed;
}

.lookGhost-2Fn_0-.colorBrand_dd4f85::before {
  opacity: .9;
}

/* custom background fix */

.userPopout-2j1gM4 .wrapper_c51b4e * {
  z-index: 1;
}

.userPopout-2j1gM4 .wrapper_c51b4e::after {
  z-index: unset;
}
