/* Imports */
@import "https://requidev.github.io/phoenix-bundle/phoenix-bundle/base.css";


/* Variables */

:root {
  --theme-name: "Reborn";
  --blackout: black;
  --dark: #333;
  --lighter: #666;
  --bright: #ccc;
  --background-blur: 0px;
  --popup-blur: 0px;
  --background-darkness: 0.75
}

  /* Dark Mode */
  .appMount_fae9dd {
    --primary-color: rgba(0,0,0,var(--background-darkness));
  }

  .theme-dark {
    --primary-color: rgba(0,0,0,0.75);
    --secondary-color: rgba(0,0,0,0.6);
    --tertiary-color: rgba(0,0,0,0.4);
    --quaternary-color: rgba(0,0,0,0.7);
  }

  /* Light Mode */
  .theme-light {
    --primary-color: rgba(0,0,0,0.55);
    --secondary-color: rgba(0,0,0,0.4);
    --tertiary-color: rgba(0,0,0,0.2);
    --quaternary-color: rgba(0,0,0,0.5);
  }

/* Table of Contents 
 ============== STATIC ===============
1. Backgrund
  1.a. Main Background
  1.b. Transparency

2. User Settings

3. Chat

4. Popouts and Modals

5. @Media Edits

6. Misc
*/





/* 1. Background */
  /* 1.a. Main Background */
  .appMount_fae9dd::before {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    filter: blur(var(--background-blur));
  }
  
  .app__00c92,
  .app_de4237 {
    background-color: var(--primary-color);
  }
  
    /* 1.b. Transparency */
  .layer_e552e0, 
  .layer__2efaa, 
  .layers_a40797,
  .layers__1c917,
  .container__037ed,
  .standardSidebarView__1129a .contentRegion__0bec1,
  .channels-Ie2l6A, 
  .container-PNkimc,
  .members__9f47b,
  .chat__52833, 
  .chat__52833 form, 
  .content__1a4fe,
  .messagesWrapper-3lZDfY,
  .noChannel__7bbff,
  .private-channel-call,
  .video__79b68,
  #friends,
  .appMount_fae9dd,
  .standardSidebarView__1129a,
  .standardSidebarView__1129a .sidebarRegion__60457,
  .inner-zqa7da,
  .standardSidebarView__1129a .sidebarRegion__60457 .sidebar__9e3e2,
  .userSettingsVoice-1_dzjw .media-engine-video,
  .activityFeed-28jde9,
  .search .searchBarIcon-1J6sKG,
  .footer-2yfCgX,
  .container-1UB9sr,
  .title_b7d661,
  .header-2o-2hj,
  .headerBar-UHpsPw,
  .container-2Thooq,
  .privateChannels__93473 .search-bar,
  .wrapper-2NJDcI,
  .wrapper-29NfPK,
  .incomingCall-14zLc,
  .gameLibrary-TTDw4Y,
  .paginator_e620d3,
  .payment__7d702,
  .sidebar-1-SQro,
  .reactors__20ab0,
  .applicationStore_fc7d76,
  #permissions-modal-wrapper .role-side,
  .itemBackground-1jfD8p,
  .gamePreview-9weYR2 .sideBar-2_lxpG,
  .gamePreview-9weYR2 .body-1SVoBw,
  .news-2KwXHF,
  .root-1BQpZw,
  .root-26DmKJ,
  .container-3gCOGc,
  .appMount_fae9dd .pageWrapper_fef757,
  .wrapper-1Rf91z,
  .wrapper_a7e7a8,
  .emptyPlayers-dx3qig, 
  .players-1zg2l8,
  .users-i_3-kL,
  #app-mount .container__11d72,
  #app-mount .users-i_3-kL,
  #app-mount .footer-1hTRRZ,
  #app-mount .footer-30ewN8,
  .searchBar-1MOL6S, 
  #app-mount .container_e4c233,
  #app-mount .footer__09373,
  #app-mount .privateChannels__93473,
  #app-mount .panels__58331,
  #app-mount .scroller-2TZvBN,
  #app-mount .scroller__4b984,
  #app-mount .sidebar_ded4b5,
  .scrollableContainer-38zsVD,
  .scrollableContainer__33e06,
  .appMount_fae9dd, body,
  .channelTextArea__56a36,
  #app-mount .container__5c7e7,
  .container__7c79d,
  .textContainer__709ff,
  .stageSection-3mAD8V,
  .threadSidebar-1o3BTy {
  background: transparent !important;
  }
  
  .textContainer__709ff {
    border: none;
  }

  #app-mount .footer__09373 {
    box-shadow: none;
  }

  #app-mount .bannerImage__39c51::after {
    opacity: 0;
  }
  
  #app-mount .activityFeed-1C0EmJ {
    background-color: transparent;
  }
  
  .typeMacOS__496b0.titleBar__01af6,
  .uploadModal_eae2a0 .footer_ceda43 {
    background-color: var(--primary-color) !important;
  }
  
  
  /* 2. User Settings */
  .standardSidebarView__1129a .sidebarRegion__60457 .sidebarRegionScroller__1fa7e,
  .uploadModal_eae2a0 .footer_ceda43,
  .uploadModal_eae2a0 .inner__7afe9 .channelTextAreaUpload-30SRDh .inner-zqa7da {
    background-color: var(--secondary-color) !important;
  }
  
  
  
  /* 3. Chat */
  #app-mount .iconMask__1aff7,
  .preview-rua1rr {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }

  .container-3O_wAf,
  .icon-1SdhiF {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }
  
  .searchResultsWrap__9f374,
  .searchPopout-1vUlP3,
  #app-mount .container__4bde3,
  .guilds__2b93a:not(.foldercontent) .scroller__3d071>.tutorialContainer__890ea .listItem_fa7b36 {
    background: linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) center/cover no-repeat fixed!important;
  }

  .container-1YxwTf .inner__9fd0b {
    background-color: var(--tertiary-color);
    border-radius: 5px;
  }

  .content-3dzVd8 .innerNoAutocomplete-1WpcVO {
    background-color: var(--tertiary-color) !important;
  }

  /* 4. Popouts & Modals */
  .colorPickerCustom-1swUKF {
    border-color: var(--quaternary-color) !important;
  }
  
  #app-mount .popout-3G62UL {
    background-color: transparent !important;
    background-attachment: fixed !important;
    background-image: var(--background-image) !important;
    background-position: center !important;
    background-size: cover !important;
  }
  
  .botTagInvert_c85692 {
    background-color: var(--main-color);
    color: white;
  }
  
  #app-mount .searchResultsContainer-1ma_dc,
  #app-mount .menu-Sp6bN1,
  #app-mount .themedPopout-25DgLi,
  #app-mount .container_d6dad3,
  #app-mount .addGamePopout_e4ca8f,
  #app-mount .colorPickerCustom-2CWBn,
  #app-mount .perksModal-fSYqOq,
  .css-3vaxre-menu,
  .header__63c59 {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat fixed !important;
  }

  #app-mount .messagesPopoutWrap_b3b384,
  #app-mount .recentMentionsPopout__826a9 {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat !important;
  }

  .viewAsRolesWarning__4bb09,
  .container-3LUQwT {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat fixed;
  }

  #app-mount .css-n57xjs-menu {
    background: linear-gradient(var(--quaternary-color), var(--quaternary-color)), var(--background-image) center/cover no-repeat;
    background-attachment: fixed !important;
  }

  #app-mount .tierMarkerBackground-G8FoN4 {
    background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/600px 618px no-repeat !important;
    background-attachment: fixed;
  }

  .emojiPicker-3m1S-j, 
  .emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ, 
  .diversitySelector-tmmMv0 .popout-2nUePc,
  #app-mount .uploadModal_eae2a0,
  #app-mount .modalRoot-2fww1y,
  .styleFixed-2_NfVL,
  .styleFlexible-x0_sIC,
  .submenu-1apzyU,
  .previewContainer_b0f5b4,
  .container-2O1UgZ,
  #app-mount .streamPreview__1846c,
  .profileBannerPreview-3_l0Wd {
  background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/cover no-repeat !important;
  }

  .avatarUploaderInner-Oiob_P {
    border-color: var(--main-color);
  }
  
  .profileBannerPreview-3_l0Wd .headerTop-3GPUSF {
    background: transparent;
  }

  .headerTop-3GPUSF {
    background: var(--primary-color);
  }

  .container-2O1UgZ .inner__999f6 {
    background-color: var(--quaternary-color) !important;
    border-color: var(--quaternary-color) !important;
  }

  .emojiPicker-3m1S-j .categories-1feg4n,
  .infoBar-U6oBFk {
    background: var(--tertiary-color);
  }
  
  .userPopout-2j1gM4,
  .create-guild-container.deprecated,
  .inner-1JeGVc .root-SR8cQa,
  .container__0810b,
  .container-1Gt1iQ,
  .userList-3HrI62,
  #permissions-modal-wrapper #permissions-modal,
  .create-guild-container-new.deprecated .form.deprecated,
  .toast,
  .inner-2VEzy9 .root-SR8cQa,
  #app-mount .modal-2LBig1 .focusLock-2tveLW .root-8LYsGj {
    background-image: var(--popup-background) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
  }
  
  #app-mount .quickswitcher_a3d29a,
  #app-mount .modal-3HD5ck,
  #app-mount .keyboardShortcutsModal__74c71,
  #app-mount .incomingCallInner-2VmFiR,
  #app-mount .regionSelectModal-12e-57,
  .backdrop__7e89b[style*="background-color: rgb(255, 255, 255)"],
  #app-mount .gamePreview-9weYR2,
  #app-mount .popout-2xBvMR,
  #app-mount .sb-menu-scroller-wrapper,
  .metalloriff-changelog-scroller,
  .container-1YVRxo,
  .bd-modal-inner,
  #app-mount .contextMenu-HLZMGh,
  #app-mount .monsterModal,
  #app-mount .popout-3sVMXz .container-jGk-CT,
  #app-mount .modal-3v8ziU,
  #app-mount .modal__060da,
  .contentWrapper-2txmjs,
  .emojiPicker_b65ce9,
  .focusLock-2tveLW .root_a28985 {
  background: linear-gradient(var(--primary-color), var(--primary-color)), var(--popup-background) center/cover no-repeat !important;
  }

  #app-mount .content-3nJg0c:before {
    background-color: var(--quaternary-color);
  }
  
  .container-1Gt1iQ {
    border-radius: 5px;
  }
  
  #app-mount .popout-3G62UL::before {
    border-radius: 4px;
  }
  
  .userPopout-2j1gM4 .header-2BwW8b,
  [class*="topSection"],
  .tiles-2aXG_k,
  .container__0810b header,
  .container__0810b section,
  #permissions-modal-wrapper .header,
  #permissions-modal-wrapper .modal-body {
    background-color: var(--primary-color) !important;
  }
  
  .create-guild-container.deprecated .form.deprecated .form-inner {
    background-color: var(--quaternary-color) !important;
  }
  
  .searchPopout-1vUlP3::before,
  .add-game-popout::before,
  .toast::before,
  #app-mount .popout-3G62UL::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    pointer-events: none;
  }
  
  .container__4bde3::before,
  .toast::before,
  #app-mount .popout-3G62UL::before {
    z-index: -1 !important;
  }
  
  .notches__065e9 {
    position: relative;
    background-attachment: fixed;
    background-image: var(--background-image) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
    -webkit-mask-repeat: repeat-x;
    width: 100%;
  }
  
  .notches__065e9::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
    -webkit-mask-repeat: repeat-x;
    background-color: var(--primary-color);
  }
  
  .content-1_NQ-_,
  .errorState-3QMR6P,
  .phoneVerificationModal-3OHeBt .title-2UGWXc,
  .phoneVerificationModal-3OHeBt .description-krHRyL,
  .container-_CzRhL img[src*="/assets/261873897d8899d4e2e724efdfa21ee3.svg"],
  .container-_CzRhL .title-Ic5R7V,
  .container-_CzRhL .description-2waT7u,
  .tipsWithoutResults-lGY-De, 
  .tipsWithResults-HhTE9b,
  .modalTitle-2skSKy,
  .modalSubtitle-2lx7qk,
  .queryText__5bb6b,
  .empty-3sCt5f,
  .popoutSocialInfo-1qhqSY,
  .recommendationReason-10-H0n,
  .themeDark-3Ap_7i,
  .sb-menu-label,
  .sb-menu-scroller,
  .metalloriff-update-label,
  .metalloriff-changelog-label,
  .emptyState-1OLqEw,
  .container__4bde3 * {
    z-index: 1;
  }
  
  .emptyNote-3nZbCz, 
  .emptyTitle-3Jm6Ve {
    color: white !important;
    z-index: 2;
    opacity: 1;
   }
  
  .popout-3sVMXz .themedPopout-25DgLi .header-SsaQ8X {
    background-color: var(--tertiary-color) !important;
  }
  
  .need-help-modal .header h1::after {
    left: -220px;
  }

  .layer_ec16dd[style*="; bottom: 5"][id*="popout_"] .menu_dc52c6 .item-1OdjEX:nth-child(7),
  #status-picker .layer_ec16dd .submenuPaddingContainer-_k62dJ,
  #status-picker #status-picker-switch-account {
    background: linear-gradient(var(--primary-color), var(--primary-color)),var(--background-image) center/cover no-repeat fixed !important;
  }
  
  /* 5. @Media Edits */
  @media only screen and (max-width: 915px) {
  
    .members__9f47b:hover {
      background-color: var(--primary-color) !important;
    }
  }

/* 6. Misc */
#ghostping-panel {
  background-image: linear-gradient(var(--primary-color), var(--primary-color)), var(--background-image) !important;
  background-size: cover, cover;
  background-position: center, center;
  background-attachment: initial, fixed;
}

.lookGhost-2Fn_0-::before {
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), var(--background-image) center/cover no-repeat fixed;
}

.lookGhost-2Fn_0-.colorBrand_b2253e::before {
  opacity: .9;
}

/* custom background fix */

.userPopout-2j1gM4 .wrapper_edb6e0 * {
  z-index: 1;
}

.userPopout-2j1gM4 .wrapper_edb6e0::after {
  z-index: unset;
}