/* Imports */
@import "https://requidev.github.io/phoenix-bundle/phoenix-bundle/base.css";


/* Variables */

:root {
  --theme-name: "Tranquil";
}

  /* Dark Mode */ 
  .theme-dark,
  .appMount_ea7e65,
  .theme-dark .theme-light {
    --primary-color: #19191b;
    --secondary-color: #1E1E21;
    --tertiary-color: #232327;
    --quaternary-color: #101011;
  }

  /* Light Mode */
  .theme-light,
  .theme-light .theme-dark {
    --primary-color: #ffffff;
    --secondary-color: #f3f3f3;
    --tertiary-color: #eeeeee;
    --quaternary-color: #dbdbdb;
  }

/* Table of Contents
 1. Title Bar

 2. Chat Header
  2.a. Headers
  2.b. Search Bars

 3. User Settings

 4. Guilds Wrapper

 5. Channels

 6. Account Area

 7. Members List

 8. Chat

 9. Friends List

 10. Games Tab

 11. Popouts

 12. Modals

 13. Games Tab, Library, and Store

 14. Bulk Loud Colors

 15. Misc
*/





/* 1. Title Bar */
#app-mount,
.app_a01fb1,
.app_a01fb1 {
  background-color: var(--quaternary-color) !important;
}

/* 2. Chat Header */
  /* 2.a. Headers */
.title_a7d72e,
.header-2o-2hj,
.headerBar-UHpsPw {
  background: var(--quaternary-color) !important;
}

.guildsWrapper-5TJh6A:not(.foldercontent) .guilds-1q_RqH>.guild-1EfMGQ:first-child .guildInner-3DSoA4,
.guilds_a4d4d9:not(.foldercontent) .scroller_fea3ef>.tutorialContainer_f9623d .listItem_c96c45 {
  background-color: var(--quaternary-color) !important;
}

  /* 2.b. Search Bars */
.search .searchBarIcon-1J6sKG {
  background-color: var(--quaternary-color);
}

.privateChannels_f0963d .searchBar_f0963d {
  background: var(--quaternary-color);
}



/* 3. User Settings */
.standardSidebarView_c25c6d .sidebarRegion_c25c6d .sidebar_c25c6d,
.standardSidebarView_c25c6d .sidebarRegion_c25c6d .sidebarRegionScroller_c25c6d {
  background-color: var(--quaternary-color) !important;
}

.standardSidebarView_c25c6d .contentRegion_c25c6d {
  background-color: var(--primary-color) !important;
}

.wrapper_b877fa {
  border-color: var(--main-color);
}

.selected_b877fa.option_b877fa {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.option_b877fa:hover {
  background-color: var(--hover-color)
}

.paginator_f66684 {
  background: var(--tertiary-color) !important;
}

.notches_e5cdf3 {
  background-image: none !important;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
  -webkit-mask-repeat: repeat-x;
  width: 100%;
  background-color: var(--primary-color);
}

/* 4. Guilds Wrapper */
#app-mount .guilds_a4d4d9,
#app-mount .wrapper-1Rf91z,
#app-mount .scroller-2TZvBN,
.tutorialContainer-2sGCg9>.listItem-GuPuDH {
  background-color: var(--quaternary-color);
}


/* 5. Channels */
.channels-Ie2l6A, 
.container-PNkimc,
#app-mount .scroller_c47fa9,
#app-mount .perksModal-fSYqOq {
  background-color: var(--primary-color)
}

.wrapper-2NJDcI,
.container_e40c16 {
  background-color: var(--primary-color) !important;
}

#app-mount .users-i_3-kL {
  background-color: var(--secondary-color)
}

/* 6. Account Area */
#app-mount .panels_a4d4d9 {
  background-color: var(--secondary-color);
  border-bottom: transparent;
}



/* 7. Members List */
.members_cbd271 {
  background-color: var(--primary-color) !important;
}



/* 8. Chat */
.chat_a7d72e, 
.chat_a7d72e form, 
.content_a7d72e,
.messagesWrapper-3lZDfY,
.noChannel_e1ef5f,
.threadSidebar-1o3BTy {
  background-color: var(--primary-color) !important;
}

.container-3O_wAf,
.icon-1SdhiF {
  background: var(--secondary-color);
}

.private-channel-call,
.video_c84990,
.privateChannels_f0963d .scrollerWrap-2lJEkd::after,
#app-mount .streamPreview_adbea6 {
  background-color: var(--quaternary-color) !important;
}

.inner-zqa7da,
.scrollableContainer-38zsVD,
.scrollableContainer_d0696b {
  background-color: var(--secondary-color) !important;
}

.searchResultsWrap-2DKFzt {
  background-color: var(--primary-color) !important;
}

.wrapper-29NfPK {
  background-color: var(--quaternary-color) !important;
}

#app-mount .scroller_ad8f79, 
#app-mount .scroller-5bBood,
.scroller_c100ff {
  background-color: var(--primary-color)
}

.viewAsRolesWarning_adcaac,
.container-3LUQwT {
  background: var(--quaternary-color);
}


/* 9. Friends List */
.container-3gCOGc {
  background-color: var(--primary-color) !important;
}



/* 10. Games Tab & Discover */
.activityFeed-28jde9,
.root-26DmKJ,
.activityFeed-1C0EmJ,
.stageSection-3mAD8V {
  background: var(--primary-color) !important;
}

#app-mount .searchResultsContainer-1ma_dc {
  background-color: var(--secondary-color);
}

#app-mount .container_fc4f04 {
  background: var(--quaternary-color);
}

.sidebar_a4d4d9 {
  background-color: var(--primary-color);
}

#app-mount .card_e90879, 
#app-mount .iconMask_e90879,
.discoverHeader-1TWTqG {
  background-color: var(--quaternary-color);
}


/* 11. Popouts */
.themedPopout-25DgLi,
#permissions-modal-wrapper #permissions-modal,
.submenu-1apzyU,
#status-picker #status-picker-switch-account,
#status-picker .layer_cd0de5 .submenuPaddingContainer-_k62dJ {
  background-color: var(--primary-color) !important;
}

.popout-3sVMXz .themedPopout-25DgLi .header-SsaQ8X {
  background-color: var(--quaternary-color) !important;
}

.menu-Sp6bN1 {
  background: var(--primary-color) !important;
}

.container__13b2a header {
  background-color: var(--quaternary-color) !important;
}

.container__13b2a section,
.reactors_f2bfbb,
.monsterModal {
  background-color: var(--primary-color) !important;
}

.sidebar-1-SQro,
.footer-3J5oP4,
#app-mount .popout-3sVMXz .news-2KwXHF {
  background-color: var(--quaternary-color) !important;
}

.add-game-popout,
.emptyPlayers-dx3qig, 
.players-1zg2l8 {
  background-color: var(--secondary-color) !important;
}

.toast {
  background: var(--tertiary-color);
  border: 1px solid var(--primary-color);
}

.root-SR8cQa .note-QfFU8y textarea:focus,
.note-3kmerW textarea:focus {
  background-color: rgba(0,0,0,0.4) !important;
}



/* 12. Modals */
.topSection-13QKHs,
#permissions-modal-wrapper .header,
#app-mount .tierMarkerBackground-G8FoN4 {
  background-color: var(--quaternary-color) !important;
}

.keyboardShortcutsModal_ad95dc,
.incomingCallInner-2VmFiR,
.backdrop__1a911[style*="background-color: rgb(255, 255, 255)"],
#permissions-modal-wrapper .modal-body {
  background-color: var(--primary-color) !important;
}

#app-mount .footer-1hTRRZ,
#app-mount .footer-30ewN8,
#app-mount .content-3nJg0c:before {
  background-color: var(--primary-color);
  box-shadow: inset 0 1px 0 var(--quaternary-color);
}

.quickswitcher_f4e139,
.regionSelectModal-12e-57 {
  background-color: var(--primary-color) !important;
}

.need-help-modal .header h1::after {
  left: -65px;
}

.footer-2yfCgX,
#permissions-modal-wrapper .role-side {
  background-color: var(--secondary-color) !important;
}

.metalloriff-changelog-scroller,
.sb-menu-scroller-wrapper {
  background-color: var(--primary-color);
}

.avatarUploaderInner-Oiob_P {
  border-color: var(--quaternary-color);
}


/* 13. Games Tab, Library, and Store */
.gameLibrary-TTDw4Y,
.applicationStore_cecc86,
.itemBackground-1jfD8p,
.root-1BQpZw,
.root-26DmKJ,
.appMount_ea7e65 .pageWrapper_a3a4ce {
  background-color: var(--primary-color) !important;
}

.missingAccess-3szpts {
  background-color: var(--primary-color) !important;
}

/* 14. Bulk Loud Colors */

.theme-light .channel_c91bad,
.theme-light .channel_c91bad a,
.theme-light .name-2WpE7M,
.theme-light .activity_c91bad,
.theme-light .privateChannels_f0963d header,
.container-1UB9sr,
.theme-light .title-223e2Y,
.theme-light .actionIcon-h73Pge,
.theme-light .inner-btChU7 .channel-SEolQq,
.theme-light .search-bar input,
.theme-light .search-bar input::-webkit-input-placeholder,
.theme-light .header-2o-2hj,
.theme-light .nameConnectedText-3CzNQn, 
.theme-light .nameConnectedVoice-MHUX5F, 
.theme-light .nameSelectedText-sp_EUw, 
.theme-light .nameSelectedVoice-1qSph5,
.theme-light .chat_a7d72e form .typing_d7ebeb,
.theme-light .nameHovered-21k1eo, 
.theme-light .nameSpeaking-3UhoEZ,
.theme-light.contextMenu-HLZMGh .item-1Yvehc,
.theme-light .guild-1EfMGQ .guildInner-3DSoA4 a,
.theme-light .noIcon_a64689,
.theme-light .downloadIcon_ff398b {
    color: #111 !important;
}

.theme-light .channel_c91bad.selected-1HYmZZ .activityIconForeground-3VIgI8, 
.theme-light .channel_c91bad:hover .activityIconForeground-3VIgI8 {
    fill: #000;
}

.theme-light .activityIconForeground-3VIgI8 {
    fill: #333;
}

.theme-light .subtitle-Qv5s8c {
    color: rgba(0,0,0,0.4);
}

.theme-light .button-2KyEfG,
.theme-light.contextMenu-HLZMGh .item-1Yvehc.itemSubMenu-1vN_Yn::after{
    filter: invert(90%);
}

.theme-light .colorConnectedText-1c_uzY, 
.theme-light .colorConnectedVoice-3kyvUN, 
.theme-light .colorDefaultText-oas-QM, 
.theme-light .colorDefaultVoice-3wYlhb, 
.theme-light .colorHoveredText-OZnAgu, 
.theme-light .colorHoveredVoice-1kucsK, 
.theme-light .colorLockedText-1VRkPt, 
.theme-light .colorLockedVoice-2UlBjl, 
.theme-light .colorSelectedText-1y4Wvs, 
.theme-light .colorSelectedVoice-Xcb_9R, 
.theme-light .colorUnreadText-2t7XRb, 
.theme-light .colorUnreadVoice-137o4S,
.theme-light .textArea_d0696b,
.theme-light .textArea_d0696b::-webkit-input-placeholder,
.theme-light .search .DraftEditor-root .public-DraftEditorPlaceholder-root,
.theme-light .resultsGroup-1BPR25 .header-3A13BX, 
.theme-light .resultsGroup-1BPR25 .plusIcon-2V7coV, 
.theme-light .resultsGroup-1BPR25 .searchClearHistory_b0286e, 
.theme-light .resultsGroup-1BPR25 .searchLearnMore_b0286e a {
    color: #333 !important;
}

.theme-light .option-2KkUJO .filter-5YbOzJ,
.theme-light .searchOption-351dTI .answer-2fBfuP {
    color: #666;
}

/* 15. Misc */
#ghostping-panel {
  background-color: var(--primary-color) !important;
}


/* custom background fix */
.userPopout-2j1gM4 .wrapper_c51b4e::after {
  z-index: unset;
}

.userPopout-2j1gM4 .body-2wLx-E {
  background-color: transparent !important;
}

.userPopout-2j1gM4,
.userPopout-2j1gM4 .footer-1N3bR3 {
  background-color: var(--quaternary-color) !important;
}
