/* Imports */
@import "https://requidev.github.io/phoenix-bundle/phoenix-bundle/base.css";


/* Variables */

:root {
  --theme-name: "Tranquil";
}

  /* Dark Mode */ 
  .theme-dark,
  ._51fd70792ee2e563-appMount,
  .theme-dark .theme-light {
    --primary-color: #19191b;
    --secondary-color: #1E1E21;
    --tertiary-color: #232327;
    --quaternary-color: #101011;
  }

  /* Light Mode */
  .theme-light,
  .theme-light .theme-dark {
    --primary-color: #ffffff;
    --secondary-color: #f3f3f3;
    --tertiary-color: #eeeeee;
    --quaternary-color: #dbdbdb;
  }

/* Table of Contents
 1. Title Bar

 2. Chat Header
  2.a. Headers
  2.b. Search Bars

 3. User Settings

 4. Guilds Wrapper

 5. Channels

 6. Account Area

 7. Members List

 8. Chat

 9. Friends List

 10. Games Tab

 11. Popouts

 12. Modals

 13. Games Tab, Library, and Store

 14. Bulk Loud Colors

 15. Misc
*/





/* 1. Title Bar */
#app-mount,
._160d8e55254637e5-app,
._160d8e55254637e5-app {
  background-color: var(--quaternary-color) !important;
}

/* 2. Chat Header */
  /* 2.a. Headers */
.f75fb00fb7356cbe-title,
.header-2o-2hj,
.headerBar-UHpsPw {
  background: var(--quaternary-color) !important;
}

.guildsWrapper-5TJh6A:not(.foldercontent) .guilds-1q_RqH>.guild-1EfMGQ:first-child .guildInner-3DSoA4,
._5e434347c823b592-guilds:not(.foldercontent) .ef3116c2da186559-scroller>._1f388bcaa446c0c8-tutorialContainer ._650eb104245d257b-listItem {
  background-color: var(--quaternary-color) !important;
}

  /* 2.b. Search Bars */
.search .searchBarIcon-1J6sKG {
  background-color: var(--quaternary-color);
}

.e6b7699ce8339e1c-privateChannels .e6b7699ce8339e1c-searchBar {
  background: var(--quaternary-color);
}



/* 3. User Settings */
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebarRegion ._23e6b439306f125a-sidebar,
._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-sidebarRegion ._23e6b439306f125a-sidebarRegionScroller {
  background-color: var(--quaternary-color) !important;
}

._23e6b439306f125a-standardSidebarView ._23e6b439306f125a-contentRegion {
  background-color: var(--primary-color) !important;
}

.e03935f4f4b2af0c-wrapper {
  border-color: var(--main-color);
}

.e03935f4f4b2af0c-selected.e03935f4f4b2af0c-option {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.e03935f4f4b2af0c-option:hover {
  background-color: var(--hover-color)
}

.paginator__01014 {
  background: var(--tertiary-color) !important;
}

.notches_e5cdf3 {
  background-image: none !important;
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20width='8'%20height='20'%20fill='%2336393f'><path%20fill-rule='evenodd'%20d='M0%200h8v20H0V0zm4%202a2%202%200%200%200-2%202v12a2%202%200%201%200%204%200V4a2%202%200%200%200-2-2z'/></svg>");
  -webkit-mask-repeat: repeat-x;
  width: 100%;
  background-color: var(--primary-color);
}

/* 4. Guilds Wrapper */
#app-mount ._5e434347c823b592-guilds,
#app-mount .wrapper-1Rf91z,
#app-mount .scroller-2TZvBN,
.tutorialContainer-2sGCg9>.listItem-GuPuDH {
  background-color: var(--quaternary-color);
}


/* 5. Channels */
.channels-Ie2l6A, 
.container-PNkimc,
#app-mount ._99e7cad8d4c55236-scroller,
#app-mount .perksModal-fSYqOq {
  background-color: var(--primary-color)
}

.wrapper-2NJDcI,
.a2f5142ba8328dfd-container {
  background-color: var(--primary-color) !important;
}

#app-mount .users-i_3-kL {
  background-color: var(--secondary-color)
}

/* 6. Account Area */
#app-mount ._5e434347c823b592-panels {
  background-color: var(--secondary-color);
  border-bottom: transparent;
}



/* 7. Members List */
.c8ffbb79449f399c-members {
  background-color: var(--primary-color) !important;
}



/* 8. Chat */
.f75fb00fb7356cbe-chat, 
.f75fb00fb7356cbe-chat form, 
.f75fb00fb7356cbe-content,
.messagesWrapper-3lZDfY,
._01d5c7193c9f2ff4-noChannel,
.threadSidebar-1o3BTy {
  background-color: var(--primary-color) !important;
}

.container-3O_wAf,
.icon-1SdhiF {
  background: var(--secondary-color);
}

.private-channel-call,
._94748c73ac5ff785-video,
.e6b7699ce8339e1c-privateChannels .scrollerWrap-2lJEkd::after,
#app-mount ._6da2d8abf659f945-streamPreview {
  background-color: var(--quaternary-color) !important;
}

.inner-zqa7da,
.scrollableContainer-38zsVD,
._740174f3d6a2c8fe-scrollableContainer {
  background-color: var(--secondary-color) !important;
}

.searchResultsWrap-2DKFzt {
  background-color: var(--primary-color) !important;
}

.wrapper-29NfPK {
  background-color: var(--quaternary-color) !important;
}

#app-mount ._4a84a2c88d373bef-scroller, 
#app-mount .scroller-5bBood,
.fb04e18e9304920d-scroller {
  background-color: var(--primary-color)
}

.e131a99484292a19-viewAsRolesWarning,
.container-3LUQwT {
  background: var(--quaternary-color);
}


/* 9. Friends List */
.container-3gCOGc {
  background-color: var(--primary-color) !important;
}



/* 10. Games Tab & Discover */
.activityFeed-28jde9,
.root-26DmKJ,
.activityFeed-1C0EmJ,
.stageSection-3mAD8V {
  background: var(--primary-color) !important;
}

#app-mount .searchResultsContainer-1ma_dc {
  background-color: var(--secondary-color);
}

#app-mount ._9293f6b2fc12398a-container {
  background: var(--quaternary-color);
}

._5e434347c823b592-sidebar {
  background-color: var(--primary-color);
}

#app-mount .card_e90879, 
#app-mount .iconMask_e90879,
.discoverHeader-1TWTqG {
  background-color: var(--quaternary-color);
}


/* 11. Popouts */
.themedPopout-25DgLi,
#permissions-modal-wrapper #permissions-modal,
.submenu-1apzyU,
#status-picker #status-picker-switch-account,
#status-picker ._59d0d7075b521375-layer .submenuPaddingContainer-_k62dJ {
  background-color: var(--primary-color) !important;
}

.popout-3sVMXz .themedPopout-25DgLi .header-SsaQ8X {
  background-color: var(--quaternary-color) !important;
}

.menu-Sp6bN1 {
  background: var(--primary-color) !important;
}

.container__13b2a header {
  background-color: var(--quaternary-color) !important;
}

.container__13b2a section,
.b7f4b43fe1b6e285-reactors,
.monsterModal {
  background-color: var(--primary-color) !important;
}

.sidebar-1-SQro,
.footer-3J5oP4,
#app-mount .popout-3sVMXz .news-2KwXHF {
  background-color: var(--quaternary-color) !important;
}

.add-game-popout,
.emptyPlayers-dx3qig, 
.players-1zg2l8 {
  background-color: var(--secondary-color) !important;
}

.toast {
  background: var(--tertiary-color);
  border: 1px solid var(--primary-color);
}

.root-SR8cQa .note-QfFU8y textarea:focus,
.note-3kmerW textarea:focus {
  background-color: rgba(0,0,0,0.4) !important;
}



/* 12. Modals */
.topSection-13QKHs,
#permissions-modal-wrapper .header,
#app-mount .tierMarkerBackground-G8FoN4 {
  background-color: var(--quaternary-color) !important;
}

.f061f614def5a8d6-keyboardShortcutsModal,
.incomingCallInner-2VmFiR,
.backdrop__1a911[style*="background-color: rgb(255, 255, 255)"],
#permissions-modal-wrapper .modal-body {
  background-color: var(--primary-color) !important;
}

#app-mount .footer-1hTRRZ,
#app-mount .footer-30ewN8,
#app-mount .content-3nJg0c:before {
  background-color: var(--primary-color);
  box-shadow: inset 0 1px 0 var(--quaternary-color);
}

.ac6cb02cd15b4b3b-quickswitcher,
.regionSelectModal-12e-57 {
  background-color: var(--primary-color) !important;
}

.need-help-modal .header h1::after {
  left: -65px;
}

.footer-2yfCgX,
#permissions-modal-wrapper .role-side {
  background-color: var(--secondary-color) !important;
}

.metalloriff-changelog-scroller,
.sb-menu-scroller-wrapper {
  background-color: var(--primary-color);
}

.avatarUploaderInner-Oiob_P {
  border-color: var(--quaternary-color);
}


/* 13. Games Tab, Library, and Store */
.gameLibrary-TTDw4Y,
.f07d62e29a48ceee-applicationStore,
.itemBackground-1jfD8p,
.root-1BQpZw,
.root-26DmKJ,
._51fd70792ee2e563-appMount .pageWrapper_a3a4ce {
  background-color: var(--primary-color) !important;
}

.missingAccess-3szpts {
  background-color: var(--primary-color) !important;
}

/* 14. Bulk Loud Colors */

.theme-light ._972a0d22c8afa7f0-channel,
.theme-light ._972a0d22c8afa7f0-channel a,
.theme-light .name-2WpE7M,
.theme-light .activity__972a0,
.theme-light .e6b7699ce8339e1c-privateChannels header,
.container-1UB9sr,
.theme-light .title-223e2Y,
.theme-light .actionIcon-h73Pge,
.theme-light .inner-btChU7 .channel-SEolQq,
.theme-light .search-bar input,
.theme-light .search-bar input::-webkit-input-placeholder,
.theme-light .header-2o-2hj,
.theme-light .nameConnectedText-3CzNQn, 
.theme-light .nameConnectedVoice-MHUX5F, 
.theme-light .nameSelectedText-sp_EUw, 
.theme-light .nameSelectedVoice-1qSph5,
.theme-light .f75fb00fb7356cbe-chat form .b8880176888cc928-typing,
.theme-light .nameHovered-21k1eo, 
.theme-light .nameSpeaking-3UhoEZ,
.theme-light.contextMenu-HLZMGh .item-1Yvehc,
.theme-light .guild-1EfMGQ .guildInner-3DSoA4 a,
.theme-light .f34534e8a5d3ca64-noIcon,
.theme-light ._81ae53644f80c378-downloadIcon {
    color: #111 !important;
}

.theme-light ._972a0d22c8afa7f0-channel.selected-1HYmZZ .activityIconForeground-3VIgI8, 
.theme-light ._972a0d22c8afa7f0-channel:hover .activityIconForeground-3VIgI8 {
    fill: #000;
}

.theme-light .activityIconForeground-3VIgI8 {
    fill: #333;
}

.theme-light .subtitle-Qv5s8c {
    color: rgba(0,0,0,0.4);
}

.theme-light .button-2KyEfG,
.theme-light.contextMenu-HLZMGh .item-1Yvehc.itemSubMenu-1vN_Yn::after{
    filter: invert(90%);
}

.theme-light .colorConnectedText-1c_uzY, 
.theme-light .colorConnectedVoice-3kyvUN, 
.theme-light .colorDefaultText-oas-QM, 
.theme-light .colorDefaultVoice-3wYlhb, 
.theme-light .colorHoveredText-OZnAgu, 
.theme-light .colorHoveredVoice-1kucsK, 
.theme-light .colorLockedText-1VRkPt, 
.theme-light .colorLockedVoice-2UlBjl, 
.theme-light .colorSelectedText-1y4Wvs, 
.theme-light .colorSelectedVoice-Xcb_9R, 
.theme-light .colorUnreadText-2t7XRb, 
.theme-light .colorUnreadVoice-137o4S,
.theme-light ._740174f3d6a2c8fe-textArea,
.theme-light ._740174f3d6a2c8fe-textArea::-webkit-input-placeholder,
.theme-light .search .DraftEditor-root .public-DraftEditorPlaceholder-root,
.theme-light .resultsGroup-1BPR25 .header-3A13BX, 
.theme-light .resultsGroup-1BPR25 .plusIcon-2V7coV, 
.theme-light .resultsGroup-1BPR25 ._56fec8e8b8048fe0-searchClearHistory, 
.theme-light .resultsGroup-1BPR25 ._56fec8e8b8048fe0-searchLearnMore a {
    color: #333 !important;
}

.theme-light .option-2KkUJO .filter-5YbOzJ,
.theme-light .searchOption-351dTI .answer-2fBfuP {
    color: #666;
}

/* 15. Misc */
#ghostping-panel {
  background-color: var(--primary-color) !important;
}


/* custom background fix */
.userPopout-2j1gM4 ._44b0c28be7879b7b-wrapper::after {
  z-index: unset;
}

.userPopout-2j1gM4 .body-2wLx-E {
  background-color: transparent !important;
}

.userPopout-2j1gM4,
.userPopout-2j1gM4 .footer-1N3bR3 {
  background-color: var(--quaternary-color) !important;
}
