/* Make Channel Categories Match Role Categories */

.name-3BUDLf {
  color: var(--main-color);
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg, transparent, var(--main-color, #7289da), transparent);
  border-image-slice: 1;
  text-align: center;
}

.containerDefault-3TQ5YN {
  background-color: transparent !important;
}